---
- hosts: all
  tasks:
  - name: Dump Zabbix template
    local_action:
      module: zabbix_template
      server_url: http://localhost:8080/zabbix/
      login_user: Admin
      login_password: zabbix
      template_name: Template App Zabbix Agent
      state: dump
    register: export_zabbix_agent.template
